/* Override CSS default settings */
*{ margin: 0; border: 0px; padding: 0px; box-sizing: border-box; font: 12px sans-serif, times; }
a{ cursor: pointer; text-decoration: none; }
/* Minimum required to center div is margin: auto, display block, and specified width used by CSS to calculate margins.
   Width spans entire line by default. No height required because content dictates.
   All divs parents must be at least positioned relative to set child absolute.
   Setting a div to display none and back re-triggers animation on scroll. */
@keyframes fadein{
	from{ 	opacity: 0; }
   	to  { 	opacity: 1; }
}
#wrapper{
	overflow: hidden;
	position: relative;
	margin: auto;
	width: 100%;
}
#header{
	position: absolute;
	margin: auto;
	width: 100%;
	float: left;
	height: 150px;
	z-index: 3;
	padding: 50px 25px 0px 25px;

	cursor: pointer;
	text-align: left;
	font: 36px sans-serif, times;
	color: rgba(150, 150, 150, 1);
	transition: color 1s, box-shadow 1s;
	animation: fadein 2s;
}
	#header:hover #resume_header{
		color: rgba(5, 5, 30, 1);
		transition: color 1s;
	}
	#header_name{
		transition: color 1s;
		color: darkgray;
		font: 48px sans-serif;
		animation: fadein 2s;
	}
	#header_name:hover{
		transition: color 1s;
		color: gray;
	}
	#header_title{
		float: right;
		padding-top: 5px;
		color: darkgray;
		font: 20px sans-serif;
		animation: fadein 2s;
		transition: color 1s;
	}
	#header_resume{
		float: right;
		font-size: 16px;
		cursor: pointer;
		color: black;
		transition: color 1s;
		animation: fadein 8s;
	}
	#header:hover #header_title{
		color: lightgray;
		transition: color 1s;
	}
	#header:hover #header_resume{
		color: darkblue;
		transition: color 1s;
	}
	.navbar{
		overflow: hidden;
		position: fixed;
		width: inherit;
		z-index: 99;
		float: left;
		top: 125;
	}
	.navbar a{
		position: relative;
		float: left;
		width: 20%;
		height: 40px;
		padding: 10px 0px 10px 0px;

		text-align: center;
		cursor: pointer;
		display: block;
		z-index: 99;

		/*border-bottom: 1px solid lightgray;*/
		font: 16px sans-serif;
		background: white;
		color: darkgray;
		/*background: rgba( 50, 50, 50, 0.8);*/
		animation: fadein 2s;
		transition: color 1s, background 0.5s;
	}
	.navbar a:hover{
		/*transform: rotateX(360deg);*/
		transition: color 1s, background 0.5s;
		box-shadow: none;
		background: white;
		
		background: rgba( 75, 75, 75, 1);
	   	color: white;
	}
	#slideNav{
		background: rgba(10, 10, 20, 0.8);
		border: 1px solid white;
		transition: border 1s, color 1s;
	}
	#slideNav:hover{
		transition: border 1s, color 1s;
		background: rgba( 50, 50, 50, 0.8);
		border: 1px solid white;
	}


	#slideshow{
		overflow: hidden;
		position: fixed;
		margin: auto;
		width: inherit;
		height: 0;
		top: 0;
		z-index: 90;
		cursor: pointer;
		background: rgba(5, 1, 1, 0.8);
		transition: height 1s, background 2s;
	}
	#slideshow:hover{
		transition: height 1s, background 1s;
		background: rgba(5, 1, 1, 0.9);
	}
		#slide{
			position: relative;
			display: block;
			margin: auto;
			width: 80%;
			top: 0;
			z-index: 91;
			cursor: pointer;
			transition: filter 1s;
			filter: opacity(70%);
		}
		#image{
			padding-top: 5%;
			position: relative;
			display: block;
			margin: auto;
			height: 75%;
			top: 10%;
			left: 0;
			z-index: 92;
			cursor: pointer;
			transition: filter 1s;
			filter: brightness(75%);
		}
		#image:hover{
			transition: filter 1s;
			filter: brightness(110%);
		}

	#content{
		position: relative;
		width: 100%;
		top: 0;
		height: auto;
		animation: fadein 5s;
	}


	#content_1{
		position: relative;
		margin: -100px auto 200px auto;
		padding: 150px 50px 400px 50px;

		display: block;
		float: left; /* Parent of floated elements must be float/clear or specific height */
		width: 65%;
		z-index: 1;
		
		background: url("assets/images/apple_keys_4.jpg") no-repeat fixed;
		background-size: cover;
		
		text-align: center;
		transition: color 1s;
	}
	#content_1:hover{
	  	transition: color 1s;
	  	color: darkgray;
	}


		#name{
			display: none; /* Only display if mobile view */
			padding: 50px 0px 0px 0px;
			font: 36px sans-serif; /* Title size decreases size in mobile view */
		}
		#title{
			display: none;
			font: 36px sans-serif; /* Title size decreases size in mobile view */
			padding: 0px 0px 50px 0px;
		}


		#portfolio{
			position: relative;
			margin: 150px auto 0px auto;
			padding: 50px 0px 10px 0px;;
			z-index: 0;
			float: none;
			left: none;

			color: rgba(100, 100, 100, 1);
			text-align: center;
			font: 16px sans-serif;
		}
		#portfolio_header{
			position: relative;
			left: none; /* Allows element to float outside of div in Javascript */
			color: inherit;
			font: 42px sans-serif;
		}
		#portfolio_buttons{
			position: relative;
			margin: auto;
			width: 100%;
			left: none;
			padding: 50px 20px;
		}
		.portfolio_button{
			position: relative;
			margin: auto;
			display: block;
			float: left;
			width: 20%;
			left: none;
			padding: 10px 20px;

			color: white;
			font: 14px sans-serif;
			border: 1px solid white;
			background: rgba(1, 1, 25, 0.7);
			transition: background 1s, color 1s, border 1s;
		}
		.portfolio_button:hover{
			color: darkgray;
			transition: background 1s, color 1s, border 1s;
			background: rgba(1, 1, 30, 0);
			border: 1px solid gray;
		}
		#portfolio_p{
			position: relative;
			padding: 50px 0 50px 0;
			clear: both;
			left: none;
			color: inherit;
			font: 14px sans-serif;
		}
		#portfolio_p img{
			padding: 50px 0 0 0; 
			width: 50px;
		}
		
		#background_1{
			position: relative;
			margin: auto;
			width: 100%;
			padding: 25px 50px 0px 50px;
			/*
			background: rgba(10, 10, 30, 0.7);
			box-shadow: 5px 5px 10px black;*/
			transition: background 1s, box-shadow 1s;
		}
		/*
		#background_1:hover{
			transition: background 1s, box-shadow 1s, transform 1s;
			background: rgba(10, 10, 20, 0.5);
			box-shadow: 10px 10px 10px black;
		}*/
		
	#contents{
    	position: relative;
    	margin: auto;
		width: 100%;
		z-index: 2;
	}

	.background{
		position: relative;
		padding: 50px 100px;
		color: lightgray;
		width: 100%;
		z-index: 0;

		box-shadow: none;
		font: 14px sans-serif;
		background: rgba(10, 10, 10, 0.6);
		transition: background 1s, box-shadow 1s, color 2s, transform 2s;
	}
	.background:hover{
		color: white;
		background: rgba(10, 10, 10, 0.8);
		box-shadow: 15px 15px 50px black;
		transition: background 1s, box-shadow 1s, color 2s transform 1s;
	}

    	#content_left{
        	position: relative;
        	margin: -300px 0px;
        	float: left;
			width: 65%;
			z-index: 100;

			font: 24px sans-serif;
			
			background: url("assets/images/servers_5.jpg") no-repeat fixed;
			background-size: cover;
			
        	transition: width 1s;
        	animation: fadein 2s;
    	}
	        #content_left_1{
    	        position: relative;
        	    margin: 0px auto 0px auto;
            	padding: 200px 100px;
	            width: 100%;
    	        z-index: 10;
        	    color: white;
            	cursor: pointer;
 	            background: rgba(10, 10, 20, 0.7);
    	        transition: background 1s;
        	    animation: fadein 2s;
			}
	        #content_left_1:hover{
    	        transition: background 1s;
				background: rgba(10, 10, 20, 0.5);
				z-index: 10;
        	}
	        	#content_left_1_p{
					width: 80%;
					color: lightgray;
            		font: 14px sans-serif;
        		}

	        #content_left_2{
    	        position: relative;
        	    margin: 0px auto 0px auto;
            	padding: 200px 100px;
	            width: 100%;
    	        z-index: 10;
        	    color: white;
            	cursor: pointer;
	            /*background: rgba(10, 20, 10, 0.7);*/
				background: url("assets/images/laptop (7).jpg") no-repeat fixed;
				background-size: cover;
    	        transition: background 1s;
        	    animation: fadein 2s;
        	}
        	#content_left_2:hover{
            	transition: background 1s;
				background: url("assets/images/laptop (7).jpg") no-repeat fixed;
				background-size: cover;
            	/*background: rgba(10, 20, 10, 0.5);*/
			}

	        #content_left_3{
    	        position: relative;
        	    margin: 0px auto 0px auto;
            	padding: 250px 100px;
	            width: 100%;
    	        z-index: 10;
        	    color: white;
            	cursor: pointer;
	            background: rgba(20, 10, 10, 0.7);    	        
				transition: background 1s;
        	    animation: fadein 2s;
        	}
        	#content_left_3:hover{
				transition: background 1s;
				background: rgba(20, 10, 10, 0.5); 
			}

	        #content_left_4{
    	        position: relative;
        	    margin: 0px auto 0px auto;
            	padding: 250px 100px 1800px 100px;
	            width: 100%;
    	        z-index: 10;
        	    color: white;
            	cursor: pointer;
	            background: rgba(20, 10, 10, 0.7);
    	        transition: background 1s;
        	    animation: fadein 2s;
        	}
        	#content_left_4:hover{
				transition: background 1s;
				background: rgba(20, 10, 10, 0.5); 		
			}

			#social_media{
				position: relative;
				margin: 0 auto 0 auto;
				width: 100%;
				left: 30%;
				text-align: left;
			}
			.social_button{
				position: relative;
				margin: auto;
			}
			.social_button img{
				position: relative;
				margin: auto;
				width: 10%;
				float: left;
				padding: 0px 20px 0 0;
				transition: width 1s;
			}
			.social_button:hover img{
				transition: width 1s;
				width: 15%;
			}
			#social_resume{
				display: none;
				position: relative;
				margin: auto;
				width: 50%;
				padding: 10px 0px;

				text-align: center;
				font: 16px sans-serif;
				border: 1px solid lightgray;
				background: rgba(100, 100, 100, 0.7);
				transition: border 1s, background 1s;
			}
			#social_resume:hover{
				transition: border 1s, background 1s;
				background: rgba(100, 100, 100, 0);
				border: 1px solid white;
			}


	    #content_right{
    	    position: relative;
        	float: right;
	        margin: -2225px 0px 0px 0px;
			width: 35%;
			z-index: 0;
			text-align: center;
			/*
			background: url("assets/images/servers_4.jpg") no-repeat fixed;
			background: cover;
			*/
	        transition: width 1s;
    	    animation: fadein 2s;
    	}
	        #content_right_1{
    	        position: relative;
        	    margin: 1000px auto 0px auto;
            	width: 100%;
            	color: black;
            	animation: fadein 2s;
			}
	        #content_5{
    	        position: relative;
        	    margin: auto;
            	padding: 50px 50px 50px 50px;
            	width: 100%;

            	color: white;
				background: url("assets/images/iphone-ipad-apple (2).jpg") no-repeat fixed;
            	background-size: cover;
            	animation: fadein 2s;
			}
			#content_5 img{
				position: relative;
				margin: auto;
				width: 75%;
				padding: 50px 0px;

				cursor: pointer;
				box-shadow: none;
				transition: width 1s, box-shadow 1s;
			}
			#content_5 img:hover{
				transition: width 1s, box-shadow 1s;
				box-shadow: 10px 10px 10px black;
				width: 100%;
			}
			#content_6{
            	position: relative;
            	margin: auto;
	            padding: 50px 50px 50px 50px;
    	        width: 100%;

	            color: white;
				background: url("assets/images/keyboard_button.jpg") no-repeat fixed;
        	    background-size: cover;
            	animation: fadein 2s;
			}
			#content_6 img{
				position: relative;
				margin: auto;
				width: 75%;
				padding: 50px 0px;

				cursor: pointer;
				box-shadow: none;
				transition: width 1s, box-shadow 1s;
			}
			#content_6 img:hover{
				transition: width 1s, box-shadow 1s;
				box-shadow: 10px 10px 10px black;
				width: 100%;
			}
			#content_7{
            	position: relative;
            	margin: auto;
	            padding: 50px 50px 50px 50px;
    	        width: 100%;

	            color: white;
				background: url("assets/images/keyboard_button.jpg") no-repeat fixed;
        	    background-size: cover;
            	animation: fadein 2s;
			}
			#content_7 img{
				position: relative;
				margin: auto;
				width: 75%;
				padding: 50px 0px;

				cursor: pointer;
				box-shadow: none;
				transition: width 1s, box-shadow 1s;
			}
			#content_7 img:hover{
				transition: width 1s, box-shadow 1s;
				box-shadow: 10px 10px 10px black;
				width: 100%;
			}

		
	#copyright{
		position: fixed;
		clear: both;
		bottom: 0;
		width: inherit;
		height: 40px;
		padding: 10px 10px 15px 10px;
		z-index: 100;
		
		cursor: pointer;
		text-align: left;
		color: rgba(255, 255, 255, 0.5);
		background: rgba(10, 10, 10, 0.7);
		transition: background 1s, color 1s, height 1s;
	}
	#copyright:hover{
		transition: background 1s, color 1s, height 1s;
		background: rgba(50, 50, 50, 0.7);
		color: rgba(255, 255, 255, 0.7);
		height: 150px;
	}
		#copyright_1{
			float: right;
			color: white;
			font-size: 16px;
			transition: color 1s;
		}
		#copyright_1:hover{
			transition: color 1s;
			color: gray;
		}
		#copyright_2{
			float: right;
		}

		/* Class for copyright navbar buttons */
		.navbar_copyright{
			position: relative;
			margin: 30px auto 0px auto;
			height: 150px;
			width: inherit;

			color: lightgray;
			border: 1px solid darkgray;
			padding: 10px 5% 10px 5%;
			background: rgba( 1, 1, 50, 0.5);
			transition: background 1s, color 1s, border 1s;
		}
		.navbar_copyright:hover{
			transition: background 1s, color 1s, border 1s;
			background: rgba(10, 10, 50, 0);
			border: 1px solid white;
			color: white;
		}
/*
#video_container{
	position: fixed;
	top: 0;
	left: 0;
	width: 90%;
	background: rgba(10, 10, 10, 1);
}
#video_container video{
	position: relative;
	z-index: -99;
}
*/		
@keyframes fadein{
	from{ 	opacity: 0; }
   	to  { 	opacity: 1; }
}

@media( max-width: 1200px ){

	#header_title{
		float: none;
		padding-top: 5px;
		color: darkgray;
		font: 16px sans-serif;
		animation: fadein 2s;
		transition: color 1s;
	}
	#header_resume{
		float: none;
		font-size: 12px;
		cursor: pointer;
		color: lightgray;
		transition: color 1s;
		animation: fadein 8s;
	}
	#portfolio_buttons{
		position: relative;
		display: block;
		margin: auto;
		width: 80%;
		left: none;
		padding: 50px 50px;
	}
	.portfolio_button{
		display: block;
		position: relative;
		margin: 10px auto;
		float: none;
		width: 100%;
		left: none;
		padding: 10px 20px;

		color: white;
		font: 12px sans-serif;
		border: 1px solid white;
		background: rgba(1, 1, 50, 0.7);
		transition: background 1s;
	}
	/*
	#portfolio_p{
		 margin: -600px 0px 0px 0px;
	 }
	 */
	.portfolio_button:hover{
		transition: background 1s;
		background: rgba(1, 1, 50, 0);
	}
	.background{
		padding: 50px 10px;
	}

	#content_right{
		position: relative;
		float: right;
		margin: -2575px 0px 0px 0px;
		width: 35%;
	}
}




@media( max-width: 768px ){

	#title{
		display: block;
	}
	#name{
		display: block;
		font: 14px sans-serif;
	}
	#header{
		display: none;
	}
		#header_1{
			font: 36px sans-serif;
		}
		#header_2{
			float: none;
			display: none; /* display block move from inline to stacked */
		}

		#resume{
			display: block;
			float: none;
			text-align: center;
			cursor: pointer;
			color: red;
		}

	.navbar{
		position: fixed;
		width: 100%;
		z-index: 99;
	}
	.navbar a{
		width: 20%;
		height: 50px;
		padding: 15px 0px 10px 0px;

		font-size: 12px;
		background: rgba(50, 50, 50, 1);
	   	animation: fadein 2s;
	}
	#navbar a:hover{
		background: rgba(100, 100, 100, 1);
	}
		#copyright_navbar{
			display: none;
		}


	#wrapper{
		position: relative;
		margin: auto;
		width: 100%;
	}
	#content{
		position: relative;
		width: 100%;
		z-index: 0;
		animation: fadein 5s;
	}

	#content_1{
		position: relative;
		margin: 0px auto -100px auto;
		padding: 50px 0px 50px 0px;

		display: block;
		float: none; /* Parent of floated elements must be float/clear or specific height */
		width: 100%;

		color: lightgray;
		text-align: center;
		background: url("assets/images/laptop (7).jpg") no-repeat fixed;
		background-size: cover;
		transition: color 1s;
	}
	#content_1:hover{
		transition: color 1s;
		background: url("assets/images/laptop (7).jpg") no-repeat fixed;
		background-size: cover;
	  	color: white;
	}
		
		#background_1{
			position: relative;
			margin: 0, auto, 0, auto;
			width: 100%;
			cursor: pointer;
			padding: 25px 25px 0px 25px;
			background: rgba(10, 10, 10, 0.5);
			box-shadow: 5px 5px 10px black;
			transition: background 1s, box-shadow 1s, transform 2s;
		}
		#background_1:hover{
			transition: background 1s, box-shadow 1s, transform 1s;
			background: rgba(10, 10, 10, 0.7);
			box-shadow: 15px 15px 10px black;
		}
		#name{
			display: block; /* Only display if mobile view */
			padding: 25px 0px 0px 0px;
			font: 34px sans-serif; /* Title size decreases size in mobile view */
		}
		#title{
			display: block;
			font: 14px sans-serif; /* Title size decreases size in mobile view */
			padding: 0px 0px 0px 0px;
			color: white;
		}
		#portfolio{
			position: relative;
			margin: auto;
			padding: 50px 0px 0 0;
			z-index: 0;
			float: none;
			left: none;
			width: 100%;
			color: white;

			text-align: center;
			font: 14px sans-serif;
		}
		#portfolio_header{
			position: relative;
			display: none;
			left: none; /* Allows element to float outside of div in Javascript */
			font: 20px sans-serif;
		}
		#portfolio_buttons{
			position: relative;
			display: block;
			margin: auto;
			width: 100%;
			left: none;
			padding: 50px 50px;
		}
		.portfolio_button{
			display: block;
			position: relative;
			margin: 10px auto 0 auto;
			float: none;
			width: 100%;
			left: none;
			padding: 10px 20px;

			color: white;
			font: 16px sans-serif;
			text-align: center;
			border: 1px solid white;
			background: rgba(5, 5, 30, 0.6);
			transition: background 1s;
		}
		.portfolio_button:hover{
			transition: background 1s;
			background: rgba(20, 20, 20, 0);
		}
		#portfolio_p{
			position: relative;
			padding: 50px 0 200px 0;
			margin: 0px, 0px, 0px, 0px; 
			clear: both;
			left: none;
			color: white;
			text-align: center;
			font: 12px sans-serif;
		}
		#portfolio_p img{
			width: 25%;
		}
		#github{
			color: rgba(50,50,200,1);
			font: 20px sans-serif;
		}

		#contents{
			position: relative;
			margin: auto;
			width: 100%;
		}
	    	#content_left{
    	    	position: relative;
        		margin: 0px 0px;
				padding: none;
        		float: none;
				width: 100%;
				height: auto;
				z-index: 100;

				font: 12px sans-serif;
        		animation: fadein 2s;
				background: url("assets/images/servers_5.jpg") no-repeat fixed;
				background-size: cover;
			
			}
			.background{
				position: relative;
				padding: 50px 25px;
				color: lightgray;
				width: 100%;
				z-index: 0;
		
				box-shadow: none;
				font: 12px sans-serif;
				background: rgba(30, 30, 30, 0.7);
				transition: background 1s, box-shadow 1s, color 2s;
			}
			.background:hover{
				color: white;
				background: rgba(50, 50, 50, 0.7);
				box-shadow: 15px 15px 50px black;
				transition: background 1s, box-shadow 1s, color 2s;
			}

			#content_left_1{
				position: relative;
				margin: 0px auto 0px auto;
				padding: 100px 15px;
				width: 100%;
				z-index: 10;

				color: white;
				cursor: pointer;
				background: rgba(10, 10, 10, 0.7);
				animation: fadein 2s;
				background: url("assets/images/iphone-ipad-apple (2).jpg") no-repeat fixed;
				background-size: cover;
			}
			#content_left_1:hover{
				background: url("assets/images/iphone-ipad-apple (2).jpg") no-repeat fixed;
				background-size: cover;
				z-index: 10;
			}
			#content_left_1_p{
				width: 100%;
				padding: 0px 25px;
				color: lightgray;
				font: 16px sans-serif;
			}
	
			#content_left_2{
				position: relative;
				margin: 0px auto 0px auto;
				padding: 100px 15px;
				width: 100%;
				z-index: 10;
				color: white;
				cursor: pointer;				
			}
			#content_left_3{
				position: relative;
				margin: 0px auto 0px auto;
				padding: 100px 15px;
				width: 100%;
				z-index: 10;
				color: white;
				cursor: pointer;
				background: url("assets/images/keyboard_button.jpg") no-repeat fixed;
				background-size: cover;
				animation: fadein 2s;
			}
			#content_left_3:hover{
				background: url("assets/images/keyboard_button.jpg") no-repeat fixed;
				background-size: cover;
				transition: none;
			}

		    #content_left_4{
    	        position: relative;
        	    margin: 0px auto 0px auto;
            	padding: 200px 50px 200px 0px;
	            width: 100%;
    	        z-index: 10;
        	    color: white;
            	cursor: pointer;
				text-align: center;
	            background: rgba(20, 10, 10, 0.7);
    	        transition: background 1s;
        	    animation: fadein 2s;
        	}
        	#content_left_4:hover{
				transition: background 1s;
				background: rgba(20, 10, 10, 0.5); 		
			}

			#social_media{
				position: relative;
				margin: 0, auto, 0, auto;
				width: 200%;
				left: 0;
				text-align: left;
			}
			.social_button{
				position: relative;
				margin: auto, 0px, auto, 0px;
				width: 200%;
			}
			.social_button img{
				position: relative;
				margin: auto;
				width: 10%;
				float: left;
				padding: 0px 10px 0px 0px;
				transition: width 1s;
			}
			.social_button:hover img{
				transition: none;
				width: 15%;
			}
			#social_resume{
				display: block;
				position: absolute;
				margin: 100px 0px 0px 0px;
				padding: none;
				width: 20%;
				left: 0;

				color: white;
				text-align: center;
				font: 16px sans-serif;
				border: none;
				background: none;
			}
			#social_resume:hover{
				color: lightgray;
				background: none;
				border: none;
			}




			
		#content_right{
			display: none;			
			position: relative;
			float: right;
			margin: 0px 0px 0px 0px;
			width: 0%;
		}



		#slideNav{
			background: rgba(10, 10, 10, 0.8);
		}
		#slideNav:hover{
			background: rgba( 50, 50, 50, 0.8);
		}
		#slideshow{
			overflow: hidden;
			position: fixed;
			margin: auto;
			width: 100%;
			height: 0;
			top: 0;
			z-index: 90;
			cursor: pointer;
			background: rgba(20, 10, 10, 0.6);
			transition: height 1s, background 1s;
		}
		#slideshow:hover{
			transition: height 1s, background 1s;
			background: rgba(20, 10, 40, 0.8);
		}
			#slide{
				position: relative;
				display: block;
				margin: auto;
				width: 100%;
				top: 0;
				z-index: 91;
				cursor: pointer;
			}
			#image{
				padding-top: 35%;
				position: relative;
				display: block;
				margin: auto;
				width: 100%;
				height: auto;
				top: 10%;
				left: 0;
				z-index: 92;
				cursor: pointer;
			}

	#copyright{
		display: none;
		position: fixed;
		clear: both;
		bottom: 0;
		width: inherit;
		height: 40px;
		padding: 10px 10px 15px 10px;
		z-index: 100;
		
		cursor: pointer;
		text-align: left;
		color: rgba(255, 255, 255, 0.5);
		background: rgba(10, 10, 10, 0.7);
		transition: background 1s, color 1s, height 1s;
	}
	#copyright:hover{
		transition: background 1s, color 1s, height 1s;
		background: rgba(50, 50, 50, 0.7);
		color: rgba(255, 255, 255, 0.7);
		height: 150px;
	}
		#copyright_3{
			display: none;
			float: right;
		}

		#copyright_1{
			position: absolute;
			padding: 0px, 0, 0, 0;
			left: 0;
			top: 0;
			float: left;
			color: white;
			font-size: 16px;
			transition: color 1s;
		}
		#copyright_1:hover{
			transition: color 1s;
			color: gray;
		}
		#copyright_2{
			display: none;
			float: right;
		}

		/* Class for copyright navbar buttons */
		.navbar_copyright{
			position: relative;
			margin: 30px auto 0px auto;
			height: 150px;
			width: inherit;

			color: lightgray;
			border: 1px solid darkgray;
			padding: 10px 5% 10px 5%;
			background: rgba( 1, 1, 50, 0.5);
			transition: background 1s, color 1s, border 1s;
		}
		.navbar_copyright:hover{
			transition: background 1s, color 1s, border 1s;
			background: rgba(10, 10, 50, 0);
			border: 1px solid white;
			color: white;
		}

} /* End media query */



